<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content" animate-panel effect="zoomIn" style="min-height: 800px;">
        <div class="row">
           <div class="col-md-12" style="margin: 10px;">
             <button class="btn btn-success pull-right" ng-click="vm.open()">Add Student</button>              
           </div>
        </div>
        <div class="row"> 
            <div class="col-md-3 animated-panel" style="animation-delay: 0.4s;" ng-repeat="student in vm.students">
                <div class="hpanel">
                    <div class="panel-body"> 
                        <div class="stats-title pull-left"> 
                            <h4>{{student.name}}</h4> 
                        </div> 
                        <div class="stats-icon pull-right"> 
                            <i class="pe-7s-user fa-4x"></i> 
                        </div> 
                        <div class="m-t-xl"> 
                            <h1 class="text-success">Grade: {{student.grade}}</h1> 
                            <small><strong>Age:</strong>{{student.age}}</small> 
                            <a class="pull-right" ng-click="vm.delete(student._id, $index)"><i class="pe-7s-close fa-2x"></i></a>
                            <!--<button class="btn btn-danger btn-xs" ng-click="vm.delete(student._id, $index)">Delete</button>-->
                        </div> 
                    </div> 
                </div> 
            </div>    
        </div>
    </div>
    
    
    <!-- Right sidebar -->
    <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

    <!-- Footer -->
    <footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>